body {
    background-color: #000000;
    margin: 0 0;
    background-image: url('../images/background_homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin: 0 20;
}

.color_white {
    color: #FFFFFF;
}

.font_nunito {
    font-family: 'Nunito', sans-serif;
}

.size_14 {
    font-size: 14px;
}

.size_24 {
    font-size: 24px;
}

.size_48 {
    font-size: 48px;
}

.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 900;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 660px;
    margin-bottom: 110px;
}

.container a {
    text-decoration: none;
}

.block {
    width: 240px;
    height: 240px;
    background-color: rgba(119, 119, 119, 0.8);
    margin: 20px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: darkgray;
    border-width: 2px;
    border-style: solid;
}

.block:hover {
    transform: scale(1.1333); /* 170/150 = 1.1333 */
    background-color: rgba(119, 169, 119, 0.8);
}

button:hover {
    background-color: green;
}