body {
    background-color: #C0C0C0;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #e9e7e2;
    height: 40px;
    width: 1200px
}

.header-text {
    height: 40px;
    text-align: left;
    margin-left: 40px;
    margin-top: 4px;
}

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 862px;
    width: 1200px;
    background-image: url('../images/customers_background.jpg');
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    height: 40px;
    width: 1200px;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.footer-item {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item:hover {
    background-color: #333333;
}

.footer a {
    text-decoration: none;
    color: #999999;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer a:hover {
    color: #22EE22;
}

h1 {
    margin: 0 20;
}

.color-white {
    color: #FFFFFF;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.size-14 {
    font-size: 14px;
}

.size-18 {
    font-size: 18px;
}

.size-24 {
    font-size: 24px;
}

.size-48 {
    font-size: 48px;
}

.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 900;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 57vh;
    width: 800px;
}

.result-item {
    background-color: rgba(49, 49, 49, 0.8);
    padding: 3px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.result-item div {
    flex: 1;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.result-item:hover {
    background-color: rgba(119, 169, 119, 0.85);
}

.id-wlasciciel {
    width: 30px;
    margin-left: 5px;
    margin-top: -24px;
}

.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
    margin-bottom: 10px;
}

.search-block button {
    border-radius: 10px;
    padding: 4px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.search-block button:hover {
    background-color: rgba(119, 199, 119, 1)
}

.add-new-block {
    padding: 8px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.add-new-block button {
    border-radius: 10px;
    padding: 4px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.add-new-block button:hover {
    background-color: rgba(119, 199, 119, 1)
}

.form-wrapper {
    /* Additional styling if needed */
    width: 50%; /* Adjust this value to meet your design requirements */
    text-align: left; /* Center the contents of the form */
}

.add-button-wrapper {
    width: 50%; /* Additional styling if needed */
    text-align: right;
}

.context-menu {
    display: none;
    position: absolute;
    width: 150px;
    text-align: center;
    z-index: 1000;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.context-menu.active {
    display: block;
}

.context-menu-item-edit {
    padding: 8px 16px;
    cursor: pointer;
}

.context-menu-item-edit:hover {
    background-color: #007B00;
    color: #fff;
    border-radius: 8px;
}

.context-menu-item-delete {
    padding: 8px 16px;
    cursor: pointer;
}

.context-menu-item-delete:hover {
    background-color: #BB0000;
    color: #fff;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    border-radius: 8px;
    text-align: center;
}

.modal-content {
    background-color: #eeeeee;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 8px;\
}

.close-button {
    color: #aaa;
    float: right;
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




