body {
    font-family: 'Nunito', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header-row,
.total-row {
    background-color: lightgray;
    font-weight: 700;
}

.data-row {
    font-weight: 300;
}

.header-item,
.data-item {
    padding: 8px;
    border: 1px solid #666;
    text-align: left;
}

.header-item-centered {
    padding: 8px;
    border: 1px solid #666;
    text-align: center;
}

.data-item-value {
    padding: 8px;
    border: 1px solid #666;
    text-align: right;
}

.data-item-centered {
    padding: 8px;
    border: 1px solid #666;
    text-align: center;
}

.size-16 {
    font-size: 16px;
}

.size-14 {
    font-size: 14px;
}

.size-12 {
    font-size: 12px;
}

table {
    table-layout: fixed;
}

/* Szerokość kolumn */
td:nth-child(1), th:nth-child(1) { width: 4%; }  /* Kolumna numerów */
td:nth-child(2), th:nth-child(2) { width: 45%; }  /* Kolumna opisów */
td:nth-child(3), th:nth-child(3) { width: 6%; }  /* Kolumna opisów */
td:nth-child(4), th:nth-child(4) { width: 10%; }  /* Kolumna opisów */
td:nth-child(5), th:nth-child(5) { width: 9%; }  /* Kolumna opisów */
td:nth-child(6), th:nth-child(6) { width: 9%; }  /* Kolumna opisów */
td:nth-child(7), th:nth-child(7) { width: 9%; }  /* Kolumna opisów */
td:nth-child(8), th:nth-child(8) { width: 9%; }  /* Kolumna opisów */


