{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-text font-nunito color-black size-24 bold-text">Manager serwisu</div>
    </div>
    <div class="main-block">
        <div class="container">
            <a href="/wlasciciele" class="front">
                <div class="block front customer"><span class="font-nunito bold-text color-white size-18 margin-120 outer-black">KLIENCI</span></div></a>
            <a href="/czesci" class="front">
                <div class="block front parts"><span class="font-nunito bold-text color-white size-18 margin-120 outer-black">CZĘŚCI</span></div></a>
            <a href="/samochody" class="front">
                <div class="block front cars"><span class="font-nunito bold-text color-white size-18 margin-120 outer-black">SAMOCHODY</span></div></a>
             <a href="/zlecenia" class="front">
                <div class="block front orders"><span class="font-nunito bold-text color-white size-18 margin-120 outer-black">ZLECENIA</span></div></a>
            </div>
    </div>
    <div class="bottom-block">
    </div>
    <div class="footer">
        <div class="first-block">
            <h4>Zlecenia w trakcie</h4>
            {% if ongoing_orders %}
                 {% for order in ongoing_orders %}
                     <div class="second-block size-12">
                         <div class="third-block color-yellow">Rozpoczęte: {{ order.order.czas_rozpoczecia|date:"d-m-Y" }}</div>
                         <div class="third-block">{{ order.marka }} {{ order.model }} nr rej. {{ order.nrrej }}</div>
                         <div class="third-block">{{ order.order.opis }}</div>
                     </div>
                 {% endfor %}
            {% else %}
                 <div class="second-block">Brak trwających prac</div>
            {% endif %}
        </div>

         <div class="first-block">
            <h4>Zlecenia zakończone</h4>
            {% if finished_orders %}
                 {% for order in finished_orders %}
                     <div class="second-block size-12">
                         <div class="third-block color-yellow">Zakończone: {{ order.order.czas_zakonczenia|date:"d-m-Y" }}</div>
                         <div class="third-block">{{ order.marka }} {{ order.model }} nr rej. {{ order.nrrej }}</div>
                         <div class="third-block">{{ order.order.opis }}</div>
                     </div>
                 {% endfor %}
            {% else %}
                 <div class="second-block">Nie ma zakończonych zleceń</div>
            {% endif %}
        </div>

        <div class="first-block">
             <h4>Zlecenia nadchodzące</h4>
            {% if future_orders %}
                 {% for order in future_orders %}
                     <div class="second-block size-12">
                         <div class="third-block color-yellow">Wprowadzone: {{ order.order.czas_wprowadzenia|date:"d-m-Y" }}</div>
                         <div class="third-block">{{ order.marka }} {{ order.model }} nr rej. {{ order.nrrej }}</div>
                         <div class="third-block">{{ order.order.opis }}</div>
                     </div>
                 {% endfor %}
            {% else %}
                 <div class="second-block">Nie ma zaplanowanych zleceń</div>
            {% endif %}
        </div>
    </div>
</body>
</html>