{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="font_nunito bold_text text_48 color_white">CarService</h1>
    <p>This is a simple example.</p>
</body>
</html>